/*Some styles for the whole document to begin with */

body {
	font-weight: normal;
	font-style: normal;
	font-family: Garamond, Times New Roman, kaiti;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	color: black;
	background: white;
	width: 100vw; 
	overflow-y: auto;
	overflow-x: hidden;
	}


h1 {
	font-weight: bold;
	font-family: Garamond, Times New Roman, kaiti;
	font-size: 28px;
	text-align: left;
	margin-top: 15px;
	clear: left;
	}

h2 {
	font-weight: bold;
	font-family:Garamond, Times New Roman, kaiti;
 	font-size: 20px;
	text-align: left;
	margin-top: 30px;
	}

h3 {
	font-weight: bold;
	font-family: Garamond, Times New Roman, kaiti;
 	font-size: 18px;
	text-align: left;
	}

/*OK, the IDs start here */

#container { /*This holds the whole page and keeps it centred.*/
	width: 900px;
	background: url(images/background.gif) no-repeat top;
	margin: 0px auto 0px auto;
	}

/* First, the details for the header. */

#header { /*This holds the name of the site and a slogan.*/
	width: 880px;
	height: 160px;
	}

#header p { /*The style for the slogan.*/
	font-size: 17px;
	font-style: italic;
	font-family: Garamond, Times New Roman, kaiti;
	color: black;
	margin: -10px 0px 0px 0px;
	text-align: center;
	}

#header h1 {	/*Only to be used for the site header */
	font-family: Garamond, Times New Roman, kaiti; 
	padding: 80px 200px 0px 10px;
	margin:  0px 240px 0px 10px;
	color: black;
	font-size: 40px;
	text-align: center;
	}
#header1 h1 {	/*Only to be used for the site header */
	font-family: Garamond, Times New Roman, kaiti; 
	padding: 80px 200px 0px 10px;
	margin:  0px 240px 0px 10px;
	color: black;
	font-size: 40px;
	text-align: center;
	}

#header a {
	font-family: Garamond, Times New Roman, kaiti; 
	font-size: 40px;
	color: black;
	text-decoration: none;
	}
	
.floatright { float: right; margin: 0px 0px 5px 5px; border: none; height: 220px }
	
/* Next the details of the navigation bar.*/

#navigationBar{ /* This holds the overall site navigation options. */
	width: 860px;
	margin-left: 20px;
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
	background: white;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	}

#navigationBar ul	{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: white;
	color: black;
	width: 100%;
	float: left;
	}

#navigationBar ul li { 
	display: inline; 
	}

#navigationBar ul li a {
	padding-left: 50px;
	padding-right:45px;
	background-color: white;
	color: black;
	border: none;
	text-decoration: none;
	float: left;
	}

#navigationBar ul li a:hover, a:active {
	border: none;
	background-color: white;
	color: gray;
	}


/* Next up are the columns.*/


#mainCol { /*This holds the main content of the site.*/
	width: 760px;
	margin-left: auto;
	margin-right: auto;

	}

#mainCol a {	
	text-decoration: none;
	color: blue;
	}

#mainCol a:hover, a:active {
	color: #990000;
	border-bottom: dotted 1px #990000;
	}

.address { /*For writing address etc.*/
	list-style-type: none;
	margin-left: 20px;
	}

.address li {
	padding: 0px;
	}

.type {	/*Typewriter font.*/
	font-family: 'andale mono';
	font-size: 14px;
	}
	
.speaker {
	font-style: italic;
	font-size: 20px;
	margin: -10px 0px 0px 0px;
	}

sup	{ /*For superscripts.*/
	line-height: 0px;
	font-size: 10px;
	}

ul.papers	{
	text-align: left;
	}

ul.papers li {
	clear: left;
	margin-top: 10px;
	}

ul.papers a {
	display: block;
	float: left;
	margin-left: 20px;
	font-size: 14px;
	}

.title	{
	}

.paperAuthor {
	margin-left: 20px;
	display: inline;
	font-size: 14px;
	line-height: 18px;
	}

.journal	{
	display: inline;
	margin-left: 5px;
	font-style: italic;
	font-size: 14px;
	line-height: 18px;
	}

	
#reviews { /*nasty hack to get spacing right.*/
	padding-top: 15px;
	}

#footer {
	clear: both;
	margin-left: 20px;
	margin-right: 20px;
	width: 860px;
	border-top: solid 1px black;
	}

#footer ul {
	list-style-type: none;
	font-size: 12px;
	font-style: italic;
	margin: 0px;
	padding: 0px;
	text-align: center;
	}

#footer ul li {
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	}

#footer ul li a {
	color: #444444;
	background: #FFFFFF;
	text-decoration: none;
	border-bottom: dotted 1px #444444;
	}

#footer ul li a:hover, a:active {
	color: #444444;
	background: #FFFFFF;
	text-decoration: none;
	border-bottom: dotted 1px #444444;
	}
/**********table in the student****************/
table.tablestudent{
		width:80%;
		margin:0px auto;
		border:0px;
}

td img{
		width:100px;
		margin:5px;
}
 td{
		font-family: Garamond, Times New Roman, kaiti; 	
		border:0px solid #A6B6B7;
		text-align:left;
 }
/*************专为team页面写的**************/
#team{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
#team a{
		font-family: Garamond, Times New Roman, kaiti; 	
		font-weight:auto;
		color: black;
}   
/*******按钮******/
#chang {
	float: right; 
	font-weight: bold;
	font-family: Garamond, Times New Roman, kaiti;
	font-size: 16px;
	margin: 0px 0px 5px 5px; 
	border: none;
}	
/*******专为about中文页面写的*******/
#navigationBar_c{ /* This holds the overall site navigation options. */
	width: 860px;
	margin-left: 20px;
	margin-right: 20px;
	height: 35px;
	line-height: 35px;
	background: white;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	}

#navigationBar_c ul	{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background-color: white;
	color: black;
	width: 100%;
	float: left;
	}

#navigationBar_c ul li { 
	display: inline; 
	}

#navigationBar_c ul li a {
	padding-left: 70px;
	padding-right:65px;
	background-color: white;
	color: black;
	border: none;
	text-decoration: none;
	float: left;
	}

#navigationBar_c ul li a:hover, a:active {
	border: none;
	background-color: white;
	color: gray;
	}

